@font-face {
	font-family: 'IconFont';
	src: url('./iconfont/iconfont.eot') format('eot'),
		url('./iconfont/iconfont.svg') format('svg'),
		url('./iconfont/iconfont.ttf') format('ttf'),
		url('./iconfont/iconfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
.hello{
	color: red;
	font-family: 'IconFont';
}